header#header
    section#hero
        .container-fluid 
            .row.justify-content-md-center
                .col-12.col-md-11.col-lg-9.col-xl-7.col-xxl-6.text-center.text-white
                    h1.display-3.fw-bold.mb-3.overlay-text.mt-5 Quick Stock Checker
                    p.lead.mb-5.overlay-text Quickly search recent news and stock information by symbol <br> (for best results try NASDAQ, NYSE or TSX symbols)